@font-face {
  font-family: 'LektonRegular';
  src: url('http://static-assets3.travisberry.com/fonts/gzip/Lekton-Regular-webfont.eot.gz');
  src: url('http://static-assets3.travisberry.com/fonts/gzip/Lekton-Regular-webfont.eot.gz?#iefix') format('embedded-opentype'),
    url('http://static-assets3.travisberry.com/fonts/gzip/Lekton-Regular-webfont.ttf') format('truetype'),
    url('http://static-assets3.travisberry.com/fonts/gzip/Lekton-Regular-webfont.svg#LektonRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: 'MolengoRegular';
  src: url('http://static-assets3.travisberry.com/fonts/gzip/Molengo-Regular-webfont.eot.gz');
  src: url('http://static-assets3.travisberry.com/fonts/gzip/Molengo-Regular-webfont.eot.gz?#iefix') format('embedded-opentype'),
    url('http://static-assets3.travisberry.com/fonts/gzip/Molengo-Regular-webfont.ttf') format('truetype'),
    url('http://static-assets3.travisberry.com/fonts/gzip/Molengo-Regular-webfont.svg#MolengoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  
}
/* Reset.css */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, q, small, strong, sub, sup, tt, var,
ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul, ol { list-style: none;}
img { border: none; }
:focus { outline: 0; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
/* End reset */
#contactform {
margin-top: 30px;
overflow: hidden;
max-width: 600px;
float: left;
}

input[type="text"], input[type="email"], textarea {
background: 
#CECDCD;
background: 
rgba(0, 0, 0, 0.2);
border: 1px solid 
#F83D87;
padding: 6px 5px;
max-width: 400px;
}
#contactform label {
float: left;
padding-top: 10px;
width: 100%;
display: block;
}
form input[type="submit"] {
border: none;
cursor: pointer;
padding: 12px 6px;
}
p {
	font-family: 'LektonRegular','Lucida Console',Monaco,monospace;
	text-shadow: 0 1px 1px 
	black;
text-align: justify;
color: 
#DDCEE6;
font-size: 16px;
line-height: 1.6em;
}


.btn, .more-link, input[type="submit"] {
background: 
#CAF715;
color: 
#251A32;
padding: 5px 16px;
text-shadow: 
#C4F715 1px 1px 1px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}